{% set pagetitle = 'X509 certificate authentication'|trans %}
{% extends "base.twig" %}
{% block content %}

<h2>{% trans %}Error{% endtrans %}</h2>
{% if errortitle is defined -%}
<h3>{{ errortitle|trans }}</h3>
{% endif -%}
{% if errordescr is defined -%}
<p>{{ errordescr|trans }}</p>
{% endif -%}

<h2>{% trans %}X509 certificate authentication{% endtrans %}</h2>

<p>{% trans %}X509 certificate authentication is required to access this service.{% endtrans %}</p>

<a href="{{ loginurl }}">
{% trans %}Login{% endtrans %}
</a>

{% endblock %}
